


.cart-btn{
  position: fixed;
  bottom: 8%;
  left: 4%;
  border-radius: 9999px;
  border: none;
  background-color: transparent;
  z-index: 10;  
}

.cart-icon{
  position: relative;
  top: 0%;
  bottom: 0%;
  width: 70px;
  height: 70px;
  padding: 10px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  border: none;
  border-radius: 100px;
  box-sizing: border-box;

  align-items: center;
  text-align: center;
  justify-content: center;

  background: #828282bd;
  backdrop-filter: blur(1px);
  font-size: 2rem;
  cursor: pointer;

}


.cart-badge {
  position: absolute;

  left: 0px;
  top: 0px;

  transform: translate(120%, -180%);

  width: 30px;
  height: 30px;

  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 999px;
}