

.cart-btn{
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 60px; 
  height: 60px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  border: 6px solid rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}


.cart-badge {
  position: relative;
  top: -10px;
  right: -5px;
  font-size: 1rem;
  padding: 4px 6px;
  border-radius: 50%;
}