

.navbar{
  height: 56px;
  font-size: 13px;
}

.navbar .dropdown-toggle,
.navbar .dropdown-menu,
.navbar .dropdown-item {
  font-size: 13px;
}






/* 햄버거 다크모드 색변경 */
.dark-mode .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.dark-mode .navbar-toggler {
  border-color: rgba(255,255,255,0.6);
}



.glass-navbar {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

  z-index: 1050;
}

