

.navbar{
  height: 56px;
  font-size: 13px;
}

.navbar .dropdown-toggle,
.navbar .dropdown-menu,
.navbar .dropdown-item {
  font-size: 13px;
}

.glass-navbar {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

  z-index: 1050;
}

