


.search-wrapper{
  max-width: 300px;
  flex: 1 1 50%;
  display: block;
  position: relative;
}

.search-wrapper input::placeholder{
  font-size: 12px;
}

.search-icon{
  display: none;
  border: none;
  padding: 6px 12px;
  font-size: 20px;
  height: 34px;
  border: 0px solid #3b3b3b;
  border-radius: 4px;
  background-color: #ffffff00;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.dark-mode .search-icon{
  color: #fff;
}


.search-icon:hover {
  background-color: #007bff;
  color: #fff;
}

.search-icon svg{
  margin-bottom: 10px;
  /* display: inline-block; */
}




@media (max-width: 767.2px) {
  .search-wrapper {
    position: absolute;
    display: none;
    width: 100%;
    top: 50px;
    right: 20px;
  }

  .search-wrapper.mobile-state {
    display: block;
  }

  .search-icon {
    display: block;
  }
}


