




.haetaehaechi-container {
  position: relative;
  min-height: 700px; 
  overflow-x: hidden;
  width: 100vw
}


.cloud-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}


.cloud-item {
  position: absolute !important;
  filter: blur(2px);
  pointer-events: none;
  animation: floatCloud 10s infinite ease-in-out;
}

/* 둥둥 애니메이션 */
@keyframes floatCloud {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(20px, -15px); }
}


