



.more-btn{
  
  width: 50%;
  display: block;
  margin: 0 auto;
  background-color: rgb(180, 180, 180);
  border: none;
}

.list-title{
  text-align: center;
  padding-top: 66px;
  font-size: 22px;
}