


.detail{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.detailImg{
  display: flex;        
  justify-content: center; 
  align-items: center;
  height: 400px;
  width: auto;
  overflow: hidden;
  margin-top: 60px;
}

.detail img{
  border-radius: 10px;
  width: 40%;
  min-width: 160px;
}

.detail .btn{
  margin: 0 10px;
}





.wishBtn.btn-danger{
  color: #fff;
  border: 1px solid rgb(255, 82, 168);
  background-color: rgb(255, 82, 168);
}

