


.categoryList{
  width: 100%;
}

.categoriesRow{
}

.categoriesRow .col{
  width: 30%;
  padding: 0px;
  cursor: pointer;
}

.categoriesRow .col img{
  height: 120px;
  border-radius: 2px;
}

.categoriesRow .col p{
  margin-top: 10px;
  font-size: 14px;
}