

.categoriesRow{
  width: 80%;
  margin: 0 auto;
}

.categoriesRow .col{
  width: 30%;
  padding: 0px;
  cursor: pointer;
}

.categoriesRow .col img{
  height: 150px;
  border-radius: 2px;
}

.categoriesRow .col p{
  margin-top: 10px;
}