
/* Carousel 전체 */
.carousel,
.carousel-inner,
.carousel-item {
  position: relative; 
  height: 80vh;
  cursor: pointer;
}

/* 이미지 */
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 텍스트 */
.carousel-caption span {
  position: absolute;
  display: block;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;             /* 화면 좁으면 자동 줄바꿈 */
  white-space: normal;        /* 줄바꿈 허용 */
  width: 500px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  background-color: rgba(17, 17, 17, 0.72);
  padding: 0.5em 1em;
  border-radius: 4px;
}

.carousel-indicators {
  position: absolute;  
  bottom: -6px;        
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: auto;
  z-index: 5;         /* 이미지 위로 */
}

.carousel-indicators button {
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators .active {
  background-color: #fff;
}