

.popularList{
  background-color: #f6f6f6;
  padding: 50px 0;
}

.dark-mode .popularList{
  background-color: #404040;
}

.popular-header {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}

.popular-header h3 {
  margin: 0;
  cursor: pointer;
}

.popular-link {
  position: absolute;
  right: 28%;
  top: 120%;
  transform: translateY(-50%);

  font-size: 0.9rem;
  color: gray;
  cursor: pointer;
}
