


.popular-header {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}

.popular-header h3 {
  margin: 0;
  cursor: pointer;
}

.popular-link {
  position: absolute;
  right: 36%;
  top: 50%;
  transform: translateY(-50%);

  font-size: 0.9rem;
  color: gray;
  cursor: pointer;
}
