








.row{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}


.componentRow{
  width: 60%;
  margin: 0 auto;
}

.componentRow .col{
  width: calc(100% / 3);
  margin: 0 5px;
}







.specialList{
  background-color: #f6f6f6;
  padding: 50px 0;
}

.dark-mode .specialList{
  background-color: #404040;
}



.special-header {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}

.special-header h3 {
  margin: 0;
  cursor: pointer;
}

.special-header .special-link {
  position: absolute;
  right: 28%;
  top: 120%;
  transform: translateY(-50%);

  font-size: 0.9rem;
  color: gray;
  cursor: pointer;
}

