








.row{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}


.componentRow{
  width: 60%;
  margin: 0 auto;
}

.componentRow .col{
  width: calc(100% / 3);
  margin: 0 5px;
}


.animalCard{
  border-radius: 10px;
  box-sizing: border-box;
  padding: 6px;
  cursor: pointer;
  background-color: rgb(240, 240, 240, 0.5);
  width: 100%;
  height: 100%;
  max-width: 240px;
  min-width: 180px;
  margin: 0 auto;
  justify-content: center;
}

.animalCard h4{
  margin: 20px auto;
}

.animalCard p{
  margin-bottom: 6px;
  white-space: nowrap;
}



.special-header {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}

.special-header h3 {
  margin: 0;
  cursor: pointer;
}

.special-header .go-link {
  position: absolute;
  right: 36%;
  top: 50%;
  transform: translateY(-50%);

  font-size: 0.9rem;
  color: gray;
  cursor: pointer;
}