

.animalCard {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.animalCard:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}



.animalCard h4{
  font-size: 18px;
}

.animalCard p{
  font-size: 14px;
}

