





/* 부모 컨테이너: 3D 시점 적용 */
.card-container {
  perspective: 600px; /* 3D 깊이감 */
}


.animalCard {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background: rgba(255,255,255,0.92);
  border: 1px solid rgba(0,0,0,0.06);
  cursor: pointer;
  padding: 6px;
  margin: 10px auto;
  max-width: 240px;
  min-width: 180px;

  /* 회전 시 부드럽게 */
  transition: 0.3s;

  /* 3D 회전 효과 */
  transform-style: preserve-3d;

  /* 그림자 */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* 마우스 hover 시 그림자 강조 */
.animalCard:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  scale: 1.04;
}

/* 텍스트 스타일 */
.animalCard h4 {
  font-size: 18px;
  margin: 20px 0 10px;
}

.animalCard p {
  font-size: 14px;
  margin-bottom: 6px;
  white-space: nowrap;
}

/* 이미지 스타일 */
.animalCard img {
  width: 100%;
  border-radius: 6px;
}






.animalCard.special-card {
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  
  background: linear-gradient(135deg, #d42bc3, #684beb);
  transition: 0.3s ease;

  --mx: 50%;
  --my: 50%;
  color: white;
  text-shadow: 0 1px 2px rgba(1,1,1,0.8);  
}




/* glow */
.animalCard.special-card .glow-layer {
  inset: -60%;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: screen;

  background: radial-gradient(circle at var(--mx) var(--my),
    rgba(255, 255, 255, 0.55),
    rgba(255, 215, 0, 0.6),
    transparent 70%
  );

  filter: blur(70px);
  opacity: 0.9;
}











.sparkle-layer {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  clip-path: inset(210px 0 0 0);
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
  opacity: 0.8;
  animation: twinkle 2s ease-in-out infinite alternate;
  box-shadow: 0 0 10px 2px rgba(255,255,255,0.6);
}

/* 반짝임 */
@keyframes twinkle {
  0% { opacity: 0.3; box-shadow: 0 0 6px 1px rgba(255,255,255,0.3); }
  100% { opacity: 1; box-shadow: 0 0 14px 4px rgba(255,255,255,0.9); }
}

.star:nth-child(1)  { top: 92%; left: 20%; animation-duration: 1.2s; }
/* .star:nth-child(2)  { top: 85%; left: 70%; animation-duration: 2.3s; } */
/* .star:nth-child(3)  { top: 88%; left: 5%; animation-duration: 1.7s; } */
.star:nth-child(4)  { top: 70%; left: 64%; animation-duration: 2.8s; }
/* .star:nth-child(5)  { top: 65%; left: 15%; animation-duration: 1.4s; } */
.star:nth-child(6)  { top: 82%; left: 85%; animation-duration: 3.1s; }
/* .star:nth-child(7)  { top: 82%; left: 30%; animation-duration: 2.0s; } */
.star:nth-child(8)  { top: 68%; left: 85%; animation-duration: 1.9s; }
.star:nth-child(9)  { top: 73%; left: 10%; animation-duration: 2.6s; }
.star:nth-child(10) { top: 69%; left: 40%; animation-duration: 2.9s; }
.star:nth-child(11) { top: 72%; left: 90%; animation-duration: 1.8s; }
/* .star:nth-child(12) { top: 90%; left: 50%; animation-duration: 3.3s; } */
.star:nth-child(13) { top: 92%; left: 75%; animation-duration: 2.7s; }







/* shine */
.animalCard.special-card::after {
  content: "";
  position: absolute;
  inset: -15%;
  pointer-events: none;
  z-index: 3;

  background:
    linear-gradient(120deg,
      transparent 18%,
      rgba(255, 255, 255, 0.9),
      transparent 21%
    ),
    linear-gradient(120deg,
      transparent 47%,
      rgba(255, 255, 255, 0.55),
      transparent 52%
    ),
    linear-gradient(120deg,
      transparent 54%,
      rgba(255, 255, 255, 0.65),
      transparent 58%
    ),
    linear-gradient(120deg,
      transparent 68%,
      rgba(255, 255, 255, 0.75),
      transparent 69%
    );

  opacity: 0.35;
  filter: blur(6px);

  transform: translate(
    calc((var(--mx) - 50%) / 10),
    calc((var(--my) - 50%) / 10)
  );

  transition: transform 0.08s ease;
}








/* 메달 */
.rank-card {
  position: relative;
  overflow: hidden;
}

.rank-badge {
  position: absolute;
  top: 10px;
  left: 10px;

  padding: 6px 12px;
  border-radius: 999px;
  font-size: 0.85rem;
  font-weight: bold;

  background: rgba(0,0,0,0.7);
  color: white;

  z-index: 20;
}

/* 1등 */
.rank-1 {
  border: 5px solid rgba(255, 215, 0, 0.9);
  box-shadow: 0 0 18px rgba(255, 215, 0, 0.35);
}

/* 2등 */
.rank-2 {
  border: 5px solid rgba(192, 192, 192, 0.9);
  box-shadow: 0 0 14px rgba(192, 192, 192, 0.35);
}

/* 3등 */
.rank-3 {
  border: 5px solid rgba(205, 127, 50, 0.9);
  box-shadow: 0 0 14px rgba(205, 127, 50, 0.35);
}