
.mb-3.dropdown.btn-group{
  position: fixed;
  padding-left: 3%;
  margin-top: -88px;
  width: 200px;
  z-index: 10;
}

.mb-3.dropdown.btn-group .btn{
  font-size: 13px;
}

.dropdown-item{
  font-size: 13px;
}