




body{
  margin: 0; 
  padding: 0;
  padding-top: 56px;  /* navbar fixed때문에 사용 */
  font-family: 'Noto Sans KR', 'Fira Code', sans-serif;  
}


html{
  scroll-behavior: auto !important
} 
/* 페이지 이동시 스크롤 최상단 */

div{
  box-sizing: border-box;
}


.componentList{
  margin-top: 100px;
  align-items: center;
  text-align: center;
}

.componentList h3{
  display: inline-block;
  cursor: pointer;
  font-size: 22px;
}   /* 홈페이지 추천친구들,인기친구들... 소제목 */

.animalCard img{
  border-radius: 10px;
  width: auto;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}


.not-found{
  width: 100%;
  height: 30vh;
  text-align: center;
  margin-top: 18%;
}


.center{
  text-align: center;
}




/* 다크모드일때 드롭다운 텍스트 색깔 조정 */
.dark-mode .dropdown-item {
  color: #ffffff !important;
}

.dark-mode .dropdown-item:hover {
  background-color: #495057 !important;
  color: #ffffff !important;
}


